extends ../../common/layout/layout
block append meta
  title 某某贺卡
block script
block footer
block footerCss
block localCss
  link(rel='stylesheet' href='./css/play.css')
block footerJs
  script(src='./js/play.js')
  // 解决iOS自动播放
  script.
    //必须在微信Weixin JSAPI的WeixinJSBridgeReady才能生效
    document.addEventListener("WeixinJSBridgeReady", function () {
      document.getElementById('audio').play();
    }, false)
block content
  div.play-container(style='background-image:url("./images/1010.jpg")')
    // 功能选项
    ul.toolbar(style='display:none')
      li.music 选音乐
      li.text 选祝福
      li.greeting 选贺卡
    // 功能开关
    div.toggle-tool
      div.tool
        p 编辑
        span
          i.icon &#xe6a1
      div
        p 音乐
        span.music.rotate
          i.icon &#xe60a
          audio#audio(src='http://web.lm720.com/upload/careershow/2017/11/49/music.mp3' preload='auto' autoplay="autoplay" loop='loop' hidden='hidden' controls='controls')
    // 动画文字
    div.text-box
      // 具体内容 center 居中对齐 right 右对齐
      // 如果启用打字机动画给content加上data-to,data-from,data-content这些属性
      div.content(data-to='亲爱的某某某' data-from='某某某' data-content='今天是12月20日，星期三，农历11月初三；人生是一场旅行，不在乎目的地，在乎的是沿途的风景以及看风景的心情；人生是一条坎坷曲折的路，即使不断的跌倒，也一定要爬起来，坚持自己的梦想。记住，这一秒不放弃，下一秒就会有希望。朋友们，早安！')
    // 底部按钮
    div.personal
      a.avatar(href='javascript:;')
        img(src='./images/banner.jpg')
      div
        p.nickname 天下第一刀
        p.desc 点击头像查看名片
      // 其他人看时改为换成我的名片
      a.btn(href='javascript:;') 编辑我的名片
    // 上传操作
    div.upload
      i.icon &#xe665
      p 上传背景
      input(type='file' name='fileVal' accept='image/*')
    // 音乐选择框
    div.modal-music
      div.content
        div.header
          input.search(name='content' placeholder='输入歌手或歌手名')
          i.icon.submit &#xe6a5
        div.section
          ul.music-list
            -for(var i=0;i<10;i++)
              li
                div.name
                  i.icon &#xe6a8
                  |爱你一万年--张学友
                span.select
                  // value 可设置为当前音乐的id
                  input(name='music' type='radio' checked=i===0 value=i)
                  i.icon &#xe6a7
        div.footer
          button.cancel 取消
          button.confirm 确定
    // 祝福语编辑
    div.modal-text
      div.content
        div.header
          span.choose.current 选祝福
          span.edit 个性编辑
        div.section.list
          ul.text-list
            -for(var i=0;i<10;i++)
              li
                div.title
                  div.name
                    i.icon &#xe75f
                    | 何事秋风悲画扇
                  div.select
                    // value 可设为文章id
                    input(name='text' type='radio' checked=i === 0 value=i)
                    i.icon &#xe6a7
                div.details 【早安心语】今天是12月20日，星期三，农历11月初三；人生是一场旅行，不在乎目的地，在乎的是沿途的风景以及看风景的心情；人生是一条坎坷曲折的路，即使不断的跌倒，也一定要爬起来，坚持自己的梦想。记住，这一秒不放弃，下一秒就会有希望。朋友们，早安！
        div.section.custom
          textarea(name='custom' placeholder='请输入文字')
        div.footer
          button.cancel 取消
          button.confirm 确定
    // 在线图库选择
    div.modal-choose
      div.content
        div.header 请选择图片
        div.section
          div.nav
            span.current.custom
              i.icon &#xe6c5
              | 我的
            span.system
              i.icon &#xe6c7
              | 平台
          div.container
            ul.category
              // data-id 存放分类id
              - for(var i=0;i<20;i++)
                li(class={current: i===0} data-id=i) 某某分类
            ul.list
              - for(var i=0;i<20;i++)
                li(class={current: i===0})
                  img(src='./images/music.png')
                  i.icon &#xe6c0
        div.footer
          button.cancel 取消
            button.confirm 确定
  // 引导层
  // 如果是第一次进入页面，就渲染下面的引导层内容
  div.guide
    div.toggle-img
      img(src='./images/editor.png')
      img(src='./images/music.png')
    div.toggle-desc
      img(src='./images/yindao03.png')
      img(src='./images/yindao02.png')
    div.close
      img(src='./images/yindao01.png')
    div.upload-desc
      img(src='./images/upload.png')
